<%- include("partials/internalheader") -%>
<div class="all-posts container">
  <h2><%= name %>'s Insights</h2>
  <%if (posts.length === 0) { %>
    <h2>Oops! It looks like you don't have enough posts. Please create some more posts through the "Posts" tab.</h2>
  <% } else { %>
  <div class="insights-container">
    <div class="post-container insight-container">
      <h2>Your Average Mood</h2>
      <h3><%= average.toFixed(2) %></h3>
    </div>
    <div class="insights-row">
      <div class="post-container insight-container" onclick="location.href='/posts/<%= mostPositive._id %>'">
        <h2>Most Positive Entry</h2>
        <h3><%= mostPositive.date.toLocaleDateString("en-US") %></h3>
        <h3><%= mostPositive.score.toFixed(2) %></h3>
      </div>
      <div class="post-container insight-container" onclick="location.href='/posts/<%= mostNegative._id %>'">
        <h2>Most Negative Entry</h2>
        <h3><%= mostNegative.date.toLocaleDateString("en-US") %></h3>
        <h3><%= mostNegative.score.toFixed(2) %></h3>
      </div>
    </div>
    <div class="post-container insight-container">
      <% console.log(data) %>
      <canvas id="myChart" data="<%= data %>"></canvas>
    </div>
  </div>
  <% } %>
</div>
<script src="/Chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');
  const data = JSON.parse((ctx.getAttribute("data")));
  console.log(data);
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: data.x,
        datasets: [{
            label: 'Sentiment Score',
            data: data.y,
            backgroundColor: [
                'rgba(255, 99, 132, 0)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)'
            ],
            borderWidth: 3
        }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
</script>

<%- include("partials/footer") -%>